/*Header*/
.acc-top {
  background: $acc-dark-primary-color;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: $acc-top-menu-h;
  line-height: $acc-top-menu-h;
  @include acc-std-shadow;
  a {
    color: $acc-white;
  }
}

.top-bar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: $acc-top-menu-h;
  line-height: $acc-top-menu-h;
  .title-bar {
    background-color: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.acc-logo {
  span {
    height: $acc-top-menu-h;
    line-height: $acc-top-menu-h;
    i {
      font-size: 40px;
      float: left;
      @include breakpoint(small only) {
        position: absolute;
        left: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
      }
    }
  }
}

/*Menu - desktop*/
.acc-desktop-menu {  
  .submenu {
    @include acc-std-shadow;
    a {      
      color: $acc-primary-text-color;      
    }
  }
}

/*Menu mobilne*/
#mobile-dropdown {
    @include acc-std-shadow;
    background-color: $acc-white;
    a {
        color: $acc-primary-text-color;
    }
}

/*Separator*/
.acc-top-separator {
  display: block;
  height: $acc-top-menu-h;
}

/*Slider*/
.acc-slider {
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
}

.orbit {
  .orbit-slide {
    color: $acc-white;    
    padding: 9.5rem 0;
    @include breakpoint (large) {
      padding: 16.25rem 0;
    }
    blockquote cite {
      color: $acc-70p-white;
      font-size: 1rem;
      @include breakpoint (large){
        font-size: 2rem;
      }
    }
    blockquote {
      font-size: 1.25rem;      
      @include breakpoint (large) {
        font-size: 3rem;
        line-height: 3.5rem;        
      }
    }    
  }
  .orbit-bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    .is-active {
      background-color: $acc-accent-color;
    }
    button:hover {
      background-color: #cacaca;
    }
  }
}

/*Section One*/
.acc-one {
  padding: 70px 0 80px;
  .acc-section-header {
    p {
      color: $acc-secondary-text-color;
    }
  }
}

.acc-highlight {
  margin-bottom: 25px;
  p {
    color: $acc-87p-black;
  }
  h4 {
    font-size: 2rem;
  }

  .round-icon {
    font-size: 5rem;
    margin: 1.7rem 0 1rem;
    color: $acc-primary-color;
  }
}

/*Section Two*/
.acc-two {
  padding: 100px 0 120px;
  background: $acc-accent-color;
  background-size: cover;
  .acc-section-header {
    color: $acc-white;
    p {
      color: $acc-70p-white;
    }
  }
}

.acc-two-box {
  margin-bottom: 40px;
  img {
    width: 100%;
  }
}

.acc-two-title {
  padding: 20px;
  h4 {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
  p {
    font-weight: 400;
  }
}

/*Section Three*/
.acc-three {
  padding: 70px 0 80px;
  background-color: lighten($acc-divider-color,22%);
  p {
      color: $acc-87p-black;
  }
  .card {
    padding: 20px;
    font-weight: 400;
  }
  .acc-three-title {
    display: block;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: $acc-accent-color;
  }
}

/*Section Four*/
.acc-four {
  padding: 80px 0 90px;
  .acc-section-header {
    p {
      color: $acc-secondary-text-color;
    }
  }
}

.acc-single-offer {
  margin-bottom: 40px;
  font-weight: 400;
  padding: 20px 20px 30px;
  ul {
    margin: 2rem 0;
    font-size: 0.8rem;
    border-bottom: 1px solid lighten($acc-divider-color,15%);
    li {
      border-top: 1px solid lighten($acc-divider-color, 15%);
      line-height: 2.4;
    }
  }
}

.acc-offer-title {
  margin-bottom: 0.6rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
  color: $acc-87p-black;
}

.acc-offer-desc {
  font-size: 0.8rem;
  display: block;
}

.acc-offer-price {
  span {
    font-weight: 700;
    color: $acc-accent-color;
  }
}

.acc-offer-best {
  color:$acc-dark-primary-color;
  .acc-offer-title {
    color:$acc-dark-primary-color;
  }
}

/*Footer*/
.acc-footer {
  background-color: $acc-primary-color;
  padding-top: 40px;
  color: $acc-70p-white;
  .cell {
    padding-bottom: 40px;
  }
}

.acc-phone-number {
  font-weight: 400;
  font-size: 1.4rem;
}

.acc-copyright {
  background-color: $acc-dark-primary-color;
  p {
    line-height: 5;
    margin-bottom: 0;
  }
}