@mixin acc-transition {
  -webkit-transition: -webkit-box-shadow 0.25s ease 0s;
  transition: -webkit-box-shadow 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s, -webkit-box-shadow 0.25s ease 0s;
}

@mixin acc-std-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
