// Colors
$acc-primary-color: #34495e;
$acc-dark-primary-color: #2c3e50;
$acc-accent-color: #2980b9;
$acc-black: #000000;
$acc-white: #ffffff;
$acc-primary-text-color: $acc-black;
$acc-secondary-text-color: #727272;
$acc-70p-white: rgba($acc-white, 0.7);
$acc-87p-black: rgba($acc-black, 0.87);
$acc-divider-color: #b6b6b6;

//Sizes
$acc-top-menu-h: 100px;
